body, html {
    height: 100%;
}

.parallax { 
    /* The image used */
    background-image: url("img_parallax.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
      a { 
    padding: 100px;
}

a { 
    border-spacing: 160px;
    border-collapse: separate;
}
        p {
    font-family:"Comic Sans MS", cursive, sans-serif;
}
h1 {
font-family: "Impact", Charcoal, sans-serif
}
h2 {
font-family: "Courier New", Courier, monospace
}
th {
font-family: "Segoe UI", Charcoal, sans-serif
}
table1, th1, td1 {

}
td {
    font-family:"Comic Sans MS", cursive, sans-serif;
}
